
HelloWorld/*.depend
HelloWorld/*.layout
HelloWorld/*.layout.save
HelloWorld/HelloWorld.layout.save
HelloWorld/HelloWorld.depend
HelloWorld/HelloWorld.depend
HelloWorld/HelloWorld.layout.save
/HelloWorld/bin/Debug
HelloWorld/HelloWorld.depend
